/* home.css */

.home-container {
  padding: 20px;
  background-color: #1b1b1b;
  color: #e0e0e0;
  font-family: 'Garamond', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.region {
  margin-bottom: 40px;
  width: 100%;
  max-width: 1400px; /* Increased max width for more spots per row */
}

.region h2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #f5c518;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.spot {
  background-color: transparent;
  border: none;
  width: 100%; /* Full width within the grid */
  text-align: left;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.spot img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.spot-info {
  padding-top: 10px;
}

.spot-details {
  display: flex;
  justify-content: space-between;
}

.spot p {
  margin: 5px 0;
  color: #e0e0e0;
}

.spot-price {
  margin-top: 5px;
}

.more-link-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.more-link {
  color: #f5c518;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s;
}

.more-link:hover {
  color: #ffd700;
}
