/* home.css */

.home-container {
  padding: 20px;
  background-color: #1b1b1b;
  color: #e0e0e0;
  font-family: 'Garamond', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.region {
  margin-bottom: 40px;
  width: 100%;
  max-width: 1400px; /* Max width for the centered content */
}

.region h2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: #f5c518;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.spots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.spot {
  background-color: transparent;
  border: none;
  width: 100%; /* Full width within the grid */
  text-align: left;
  position: relative;
}

.spot img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #2c2c2c; /* Border color slightly lighter than the background */
}

.spot-info {
  padding-top: 10px;
}

.spot-details {
  display: flex;
  justify-content: space-between;
}

.spot p {
  margin: 5px 0;
  color: #e0e0e0;
}

.spot-price {
  margin-top: 5px;
}

.more-link-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.more-link {
  color: #f5c518;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s;
}

.more-link:hover {
  color: #ffd700;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
}

.filter-container select {
  padding: 10px;
  font-size: 1rem;
  background-color: #f5c518;
  color: #1b1b1b;
  border: 2px solid #2c2c2c;
  border-radius: 4px;
  width: 30%; /* Adjust width as needed */
  text-align: center;
  transition: background-color 0.3s;
}

.filter-container select:disabled {
  background-color: #3c3c3c;
  color: #b5b5b5;
}
